<div class="grid_12 alpha">
  <h3 class="grid_12 beta gama omega">About The Olivia Dow School Of Russian Ballet</h3>
  <p class="grid_12 alpha beta gama omega">
    The school coaches its students in the famous traditional Russian Classical Ballet - the Legat System and includes in its repertoire Classical ballet 
    classes: ‘en pointe’ level and Inklassico classes which covers both Demi Character lessons and intensive training and stretching exercises for the 
    well-trained senior ballet students.
  </p>
  <p class="grid_12 alpha beta gama omega">
    Beginners are given the first 2 lessons free in order to give the opportunity for both student and parents to assess the ballet school. New students who 
    have experienced ballet elsewhere are more than welcome to the school and would be intergraded in the classes according to Ms. Olivia’s evaluation together 
    with any achieved ballet certificates.
  </p>
  <p class="grid_12 alpha beta gama omega">
    Ballet lessons are held regularly (for both boys and girls) throughout the week including Saturday and students must attend 2 lessons per week 
    (the duration of each lesson is 1 whole hour). As for the senior students, besides the weekly 2 ballet classes, they also have Inklassico lessons on 
    Saturday: a 1½ hour intensive training class.
  </p>
  <p class="grid_12 alpha beta gama omega">
    To help her in the school Olivia Dow is assisted by fully qualified Teachers along with other students who are furthering their ballet teaching course.  
    Ms. Dow manages very well with the ever increasing popularity of the Legat System taught in her ballet school and quite naturally her ‘sought after’ 
    ballet productions by the Ballet Russe de Malte: featuring a cast of students from the Olivia Dow School of Russian Ballet. Short video clips of each 
    and every ballet produced throughout these years could be seen on the school's official website. 
  </p>
  <p class="grid_12 alpha beta gama omega">
    The ballet grades obtained within the school begin from Pre-preparatory level up until the Soloist level. At the beginning of the new term in September 
    most of the students will be in preparation for their ballet examinations, which are held annually in October/November and evaluated by a foreign 
    appointed examiner sent over by the Russian Ballet Society in Edinburgh. When students have achieved their Elementary level they are invited to become 
    associate members of the R. B. Society and it is necessary to update their membership annually if they intend to further their ballet grade especially 
    if the student wishes to take up the teaching course. Senior students must achieve the Advanced level and are members of the R. B. Society for admission 
    to the Teacher Training Programme which is spread over 4 courses: Primary, Junior, Intermediate and Advanced teaching.
  </p>
  <p class="grid_12 alpha beta gama omega">
    The ballet school is an accredited school of the <a href="http://www.russianballetsociety.co.uk/staff_4.html" target="_blank">Russian Ballet Society</a> 
    in Edinburgh and a member of the CID: International Dance Council (membership no: CID11556). The R. B. Society (which was founded in 1923) is a validated 
    member of the CDET: 
    Council for Dance Education & Training in UK under the UK RSL (Rockschool Ltd.) organisation and the ballet qualifications are accredited by OFQUAL.  
    The ballet school received its warrant from the Ministeru ta l’Edukazjoni u Kultura Nazzjonali (license no: 175) in 1994 and is a registered informal 
    learning organisation with the National Commission for Further and Higher Education (NCFHE) in Malta under the informal learning training for the School 
    Leaving Certificate and Profile programme (registration no: SLC11618).  The ballet school is also temporary registered for the Accreditation in the Arts 
    with the <a href="http://www.maltaculture.com/content.aspx?id=346980" target="_blank">Arts Council Malta</a> and as an entity provides courses for the purposes of a scheme: 
    Tax Deduction for Fees paid for Cultural and Creative Courses
  </p>
</div>