<div class="grid_12 alpha">
  <h3 class="grid_12 beta gama omega">Archives</h3>
  <div class="grid_6 alpha gama omega">
    <p class="grid_5 omega"><b>
      items donated by<br>
      Mimi Legat – grand-daughter of Nicolas Legat,<br>
      John Gregory and Barbara Vernon Gregory,<br>
      The Legat Foundation.</b>
    </p>
    <p class="grid_6 omega">
      The Royal Ballet School<br>
      White Lodge Museum<br>
      Richmond Park, London – UK<br>
      <a href="http://www.royalballetschool.org.uk/the-school/museum/" target="blank">
        http://www.royalballetschool.org.uk/the-school/museum/
      </a>
    </p>
    <p class="grid_5 omega">
      The National Arts Education Archive<br>
      The Lawrence Batley Centre<br>
      Bretton Hall, Wakefield – UK<br>
      <a href="http://www.artsedarchive.org.uk/" target="blank">
        http://www.artsedarchive.org.uk/	
      </a>
    </p>
  </div>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/b0prSCf5nfs" frameborder="0" class="grid_6 beta gama" allowfullscreen></iframe>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/2k5uTySJO4w" frameborder="0" class="grid_6 beta gama" allowfullscreen></iframe>
</div>
