<section id="content">
  <h3 class="grid_12 textcenter">Legal Disclaimer</h3> 
  <p class="grid_12">&#8220;The information contained in this site is intended solely to provide general guidance on matters of interest for the personal use of the reader, who accepts full responsibility for its use. The information is provided with the understanding that the authors and publishers are not herein engaged in rendering any professional advice or services. As such, it should not be used as a substitute for advice.</p>
  <p class="grid_12">While Olivia Dow School of Russian Ballet makes every reasonable attempt to ensure that the information contained in this site has been obtained from reliable sources and to maintain the accuracy of the information on this website, Olivia Dow School of Russian Ballet cannot accept responsibility for any prejudice, loss or damage which may occur from use of the information.</p>
  <p class="grid_12">All information in this site is provided, with no guarantee of completeness, accuracy, timeliness or of the results obtained from the use of this information, and without warranty of any kind, express or implied, including, but not limited to warranties of performance and fitness for a particular purpose. Nothing herein shall to any extent substitute for the independent investigations and the sound judgment of the reader.</p>
  <p class="grid_12">Olivia Dow School of Russian Ballet does not provide quality control of external links; the inclusion of any company&#8217;s or trader's name within the pages should not be construed as a recommendation of that company&#8217;s or trader's products and/or services.</p>
  <p class="grid_12">Nevertheless, if you find anything on this website that causes concern please contact us&#8221;</p>
  <h3 class="grid_12 textcenter">Copyright</h3>
  <p class="grid_12">&#8220;Material appearing on Olivia Dow School of Russian Ballet website are copyright of Olivia Dow School of Russian Ballet or of that of the respective authors as stated in the site. The material is covered by the provisions of the Copyright Act. This copyright material may be downloaded, displayed, and reproduced in an unaltered form only for personal and non-commercial use or for internal circulation within an organisation.</p>
  <p class="grid_12">Authorisation to reproduce material from sites linked to this website must be obtained from the copyright owner concerned. Please contact us should you wish to obtain permission to reproduce materials from this website.&#8221;</p>
  <h3 class="grid_12 textcenter">Privacy Policy</h3>
  <p class="grid_12">&#8220;Olivia Dow School of Russian Ballet site has a number of links to other sites owned by other organisations. It is important for you to note that upon linking to another site, you are no longer on our site and you become subject to the privacy policy of that site.</p>
  <h3 class="grid_12 textcenter">Data Protection Act</h3>
  <p class="grid_12">In terms of the Data Protection Act you may request us at any time what information is effectively held on you if any, at that particular time. You have the right to have any inaccuracies corrected and where applicable erased, if they are not already deleted.</p>
  <p class="grid_12">The Data we have collected on your goodselves in any enquiry forms in this site will be used in order to meet the objectives of Olivia Dow School of Russian Ballet and to provide you with the service required by yourselves.</p>
  <p class="grid_12">We have taken all reasonable measures in order to protect our site and databases from any unauthorised access. We also assure that information provided by your goodselves will not be disclosed by Olivia Dow School of Russian Ballet to third parties unless required to do so by law, by your goodselves or in order to meet your requirements.</p>
  <h3 class="grid_12 textcenter">Changes in Our Privacy Policy</h3>
  <p class="grid_12">If there are any changes to our privacy policy, we will replace this page with an updated version. It is therefore in your own interest to check the &quot;Privacy Policy&quot; page any time you access our web site so as to be aware of any changes which may occur from time to time.&#8221;</font></p>
  <p class="grid_12 textcenter">
    <b>Olivia Dow School of Russian Ballet</br>
      106, Leli Falzon Street, Naxxar, Malta.</br>
      Tel: 2158 3368, 2141 9725.</br>
      Fax: 2142 2592. Mobile: 9947 4127.</br>
      email: <a href="mailto: info@oliviadow.net">info@oliviadow.net</a>
    </b>
  </p>   
</section>
