<div class="grid_12 alpha">
  <div class="grid_12 omega">
    <h3>Olivia Dow in Gharghur - September 1993</h3>
    <%= image_tag "opening.jpg", alt: "article", class: "grid_12 beta gama omega" %>
  </div>
  <div class="grid_12 omega">
    <h3>Olivia Dow moves to Naxxar - June 1997</h3>
    <p class="grid_7 alpha gama omega">
      Article published in THE SUNDAY TIMES<br>
      OLIVIA DOW, who is now operating from her new studio in Leli Falzon Street, Naxxar, 
      is producing another new Maltese Ballet, 
      giving her pupils a unique opportunity to perform in public roles which they can safely say were created for them.<br>
      OLIVIA DOW’s new ballet studio in Naxxar, which will be officially inaugurated in September 1997, before the start of the new term.
    </p>
    <%= image_tag "studio1.jpg", alt: "studio_old", class: "grid_5 alpha gama beta" %>
  </div>
  <div class="grid_12 omega" id="2008">
    <h3>Olivia Dow opens a new ballet studio - March 2008</h3>
    <%= image_tag "studio2.jpg", alt: "studio_old", class: "grid_5 gama omega" %>
    <p class="grid_7 gama beta">
      As from 2008, the new additional premises: 
      Olivia Dow Dance Academy is just a ‘stone’s throw away’ from the still functional old studio of Olivia Dow School of Russian Ballet in Naxxar.  
      It is mainly used by the increasing number of senior ballet students (Grade IV upwards).  
      This new studio is designed with ‘state of the art’ lighting, non-slip rubber carpet in two rooms and it is multi-mirrored.  
      The concept of this additional location came from the Founder and Artistic Director John Baldacchino known also to the students as Mr. 
      John, who unfortunately passed away in February 2007 prior to its completion.
    </p>
    <p class="grid_7 alpha gama beta">
      Once more Mons. Salvinu Micallef blessing the additional studio in 2008 with a group of
      students from the Elementary 1st year level.
    </p>
  </div>
</div>