<h3 class="grid_12">New article</h1>
<p class="grid_12">
  Articles can have one photo but it should to be in portrait format (3:4).
</p>

<%= render 'form' %>

<div class="navigation">
  <%= link_to 'Back', articles_path %>  
</div>
