<fieldset class="contact-field prefix_1 grid_11" id="map">
  <legend><h3>Where we are</h3></legend>
  <div class="grid_5 omega">
    <p>Olivia Dow School of Russian Ballet</p>
    <p>Leli Falzon Street, Naxxar, Malta.</p>
    <p>Tel: 2158 3368, 2141 9725.</p>
    <p>Fax: 2142 2592. Mobile: 9947 4127.</p>
    <p>email: <a href="mailto: info@oliviadow.net">info@oliviadow.net</a></p>                                          
    <p>Facebook:</p>                                          
    <p>Twiter:</p>                                         
    <p>Youtube: <a href="https://www.youtube.com/channel/UCOFq-vT-fjz_RGbxUmmIExA">Olivia Dow School of Russian Ballet</a></p>
  </div>
  <div class="grid_5 beta omega">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12925.739936013786!2d14.446201000000007!3d35.91185149999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDU0JzQyLjciTiAxNMKwMjYnNDYuMyJF!5e0!3m2!1spt-PT!2s!4v1403441342104" width="390" height="219" ></iframe>
  </div>  
</fieldset>
