<%= render "contacts/contact" %>

<fieldset class="message-field prefix_1 grid_11">
  <legend><h3>Leave us a message</h3></legend>
  <div class="grid_10 beta omega">
    <h3 class="textcenter" >Thank you for your message.</h3>
    <p>We'll get back to you soon.</p>
  </div>                       
</fieldset>

