<% if current_user %>
  <% album = Album.first %>
  <%= render "album", :locals => { :album => album } %>
<% end %>

<% @albums.each do |album| %>
  <% if album.id != Album.first.id %>
    <%= render "album", :locals => { :album => album } %>
  <% end %>
<% end %>

<% if current_user %>
  <section class="navigation grid_12">
    <%= link_to 'New Album', new_album_path %>    
  </section>
<% end %>