// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/css3/transition";
$default-scale-x: 1.6;
$default-scale-y: $default-scale-x;

@import "media_menu";

/* lightbox*/

.backgroundsize{
    width: 984px;
    height:1050px;
}

.background{
	position:absolute;
	width: 984px;
        height:1050px;
	background-color:rgba(0,0,0,.8);
	@include opacity(0.0);
	z-index:2;
	display:none;
}

.box{
	position: relative;
	display:none;
	margin: auto auto auto auto;
        //width: 984px;
        height:1050px;
}
	
.close{
	position:relative;
	margin-right:10px;
	cursor:pointer;
	top: -10px;
	left: 817px;
	z-index:102;
}

.right{
	position:relative;
	margin-right:10px;
	cursor:pointer;
	top:315px;
	left:860px;
	z-index:102;
}
	
	
.left{
	position:relative;
	margin-right:10px;
	cursor:pointer;
	top:375px;
	left:100px;
	z-index:102;
}	

.slides{
	position: relative;
	top: -60px;
	left:160px;
}

.slides ul{
	list-style:none;
}

.slides img{
	
	border-radius: 10px;
	border: 2px solid rgb(157, 193, 236);
}