// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

.blogpost{
    border-radius: 11px;
    @include background(linear-gradient(left, rgba(157, 193, 236,.4), rgba(227, 243, 246,.8)));

    header{
        margin: 10px;
    }

    .artbody{
        margin: 10px;
        text-align: justify;
        text-justify: inter-word;
        
        .arttxt{
            $width-and-count: 20px 2;
            @include columns($width-and-count);

            img{
                width: 335px;
                height: 343px;
                margin: 4px;
                box-shadow: 0px 0px 10px rgba(0,0,0, .5);
                border: 1px solid  rgb(157, 193, 236);
            }
        }

        hr{
            background: rgb(46, 108, 186);
            margin: 10px;
        }

        #comments{

            div:nth-child(2n+1){
                background:rgba(157, 193, 236,.4);
                border: 1px solid  rgb(46, 108, 186);
                border-radius: 11px;
            }

            header{
                margin: 0px;
            }

            p, a{
                margin: 10px;
            }
        }
    }

}

.asar{
	top: 0px;
}

.abNews:hover{
	cursor: pointer;
}

