// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-field, .message-field{
    border: 2px groove rgb(157, 193, 236);

    iframe{
	border: 2px groove rgb(157, 193, 236);
    }
}

.message-field{
    p{
        text-align: center;
     }
}