// Place all the styles related to the performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "media_menu";

/* Show */

#filme{
    display: none;
    background: rgb(23, 54, 93);
    border-radius: 5px;
    height: 551px;

    img{
        margin: 5px;
        width: 954px;
        height: 541px;
    }

    iframe{
	margin: 5px;
    }
}