// Place all the styles related to the staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "compass/css3";
@import "compass/utilities";

#admintabel{
    margin: 10px;
    border-radius: 5px;

    tr{
        border-radius: 5px;

        &:nth-child(2n+1){
        
            td{
                background:rgba(157, 193, 236,.4);
                //border: 1px solid  rgb(46, 108, 186);
                //border-radius: 5px;
                @include border-radius(5px);
           }

           img{
                width: 131px;
                height: 169px;
                border: 1px solid  rgb(46, 108, 186);
                @include border-radius(5px);
            }
        }

        &:nth-child(2n) img{
            width: 131px;
            height: 169px;
            border: 1px solid  rgb(46, 108, 186);
            @include border-radius(5px);
        }
            
    }

    td{
	padding: 10px;
    }
}
