// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";
@import "compass/css3";


.intro{
    height: 405px;

    div{
        position:absolute;    
    }

    img{
	width: 723px;
	height: 405px;
	@include border-radius(11px);
	border: 2px solid rgb(157, 193, 236);
	z-index: 3;
    }
} 

.prev{
    z-index:1;
}

.active{
    z-index:2;
}