<h3 class="grid_12">Editing user_session</h3>

<div class="grid_5 alpha">
  <%= render 'form' %>
</div>

<div class="navigation">
  <%= link_to 'Show', @user_session %> |
  <%= link_to 'Back', user_sessions_path %>  
</div>
