<div class="grid_12">
  <p id="notice"><%= notice %></p>

  <div class="navigation">
    <%= link_to 'Edit', edit_user_session_path(@user_session) %> |
    <%= link_to 'Back', user_sessions_path %>
  </div>
</div>
