<h3 class="grid_12">New performance</h3>
<p class="grid_12">
  Performances can have one photo  but it should to be in portrait format (3:4) because their will appear in the menu.
</p>
<p class="grid_12">
  To had a video go to youtube select the video to had, under the video select "share", under share embed, in text box that comes under select the address 
  inside quotation marks of the source(src)
</p>
<p class="grid_12">
  Acts should be number in Roman numbers (I, II, III, IV...)
</p>

<%= render 'form' %>

<div class="navigation">
  <%= link_to 'Back', performances_path %>  
</div>
