
<p><%= @greeting %>,</p>

<p><%= @new_author %> also commented on a article that you commented.</p>

<p><%= @new_comment %></p>

<p>To answer go to <%= @article %></p>

<p>Best regards</p>
<p>www.oliviadow.net</p>