<aside class="gridten_3 alpha beta gama kappa">
  <div class="asar">
                        <header>
                            <h3>News Archive:</h3>
                        </header>
                        <nav id="acord">
                            <ul>
                                <li>
                                    <p>2000</p>
                                    <ul>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p>2001</p>
                                    <ul>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p>2002</p>
                                    <ul>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>   
                                </li>
                                <li>
                                    <p>2003</p>
                                    <ul>
                                        <li><a href="newsarchive.html">July</a></li>
                                    </ul>
                                </li>
                                <li><p>2004</p>
                                    <ul>
                                        <li><a href="newsarchive.html">March</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>
                                </li>
                                <li><p>2005</p>
                                    <ul>
                                        <li><a href="newsarchive.html">April</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>
                                </li>
                                <li><p>2006</p>
                                    <ul>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">November</a></li>
                                    </ul>
                                </li>
                                <li><p>2007</p>
                                    <ul>
                                        <li><a href="newsarchive.html">February</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                        <li><a href="newsarchive.html">November</a></li>
                                        <li><a href="newsarchive.html">December</a></li>
                                    </ul>
                                </li>
                                <li><p>2008</p>
                                    <ul>
                                        <li><a href="newsarchive.html">March</a></li>
                                        <li><a href="newsarchive.html">April</a></li>
                                        <li><a href="newsarchive.html">May</a></li>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                        <li><a href="newsarchive.html">November</a></li>
                                    </ul>
                                </li>
                                <li><p>2009</p>
                                    <ul>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                    </ul>
                                </li>
                                <li><p>2010</p>
                                    <ul>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                    </ul>
                                </li>
                                <li><p>2011</p>
                                    <ul>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                        <li><a href="newsarchive.html">December</a></li>
                                    </ul>
                                </li>
                                <li><p>2012</p>
                                    <ul>
                                        <li><a href="newsarchive.html">January</a></li>
                                        <li><a href="newsarchive.html">February</a></li>
                                        <li><a href="newsarchive.html">March</a></li>
                                        <li><a href="newsarchive.html">April</a></li>
                                        <li><a href="newsarchive.html">May</a></li>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                        <li><a href="newsarchive.html">October</a></li>
                                        <li><a href="newsarchive.html">November</a></li>
                                        <li><a href="newsarchive.html">December</a></li>
                                    </ul>
                                </li>
                                <li><p>2013</p>
                                    <ul>
                                        <li><a href="newsarchive.html">January</a></li>
                                        <li><a href="newsarchive.html">February</a></li>
                                        <li><a href="newsarchive.html">March</a></li>
                                        <li><a href="newsarchive.html">April</a></li>
                                        <li><a href="newsarchive.html">May</a></li>
                                        <li><a href="newsarchive.html">June</a></li>
                                        <li><a href="newsarchive.html">July</a></li>
                                        <li><a href="newsarchive.html">August</a></li>
                                        <li><a href="newsarchive.html">September</a></li>
                                        <li><a href="newsarchive.html">October</a></li>
                                        <li><a href="newsarchive.html">November</a></li>
                                        <li><a href="newsarchive.html">December</a></li>
                                    </ul>
                                </li>
                                <li><p>2014</p>
                                    <ul>
                                        <li><a href="newsarchive.html">January</a></li>
                                        <li><a href="newsarchive.html">February</a></li>
                                        <li><a href="newsarchive.html">March</a></li>
                                        <li><a href="newsarchive.html">April</a></li>
                                        <li><a href="newsarchive.html">May</a></li>
                                        <li><a href="newsarchive.html">June</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="asar">
                        <header>
                            <h3>Related Links:</h3>
                        </header>
                        <nav>
                            <ul>
                                <li><a href="http://www.russianballetsociety.co.uk/" target="_blank">Russian Ballet Society</a></li>
                                <li><a href="http://www.royalmoscowballet.com/" target="_blank">Royal Moscow Ballet</a></li>
                                <li><a href="https://www.facebook.com/DanceCouncilMalta" target="_blank">Dance Council Malta</a></li>                                
                                <li><a href="http://www.balletcompanies.com/" target="_blank">Ballet Companies</a></li>
                                <li><a href="http://www.maltaculture.com/" target="_blank">Malta Culture</a></li>
                                <li><a href="http://www.visitmalta.com/" target="_blank">Visit Malta</a></li>
                                <li><a href="http://http://www.nexiabt.com/" target="_blank">Nexia BT</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="asar">
                        <header>
                            <h3>Follow Us:</h3>
                        </header>
                        <a href="https://www.facebook.com/OliviaDowSchoolOfRussianBallet" target="_blank"><%= image_tag "fbicon.jpg", class: "icon" %></a>
                        <a href="https://twitter.com/oliviadowschool" target="_blank"><%= image_tag "tticon.jpg", class: "icon" %></a>
                        <a href="https://www.youtube.com/channel/UCOFq-vT-fjz_RGbxUmmIExA" target="_blank"><%= image_tag "yticon.jpg", class: "icon" %></a>
                        <a href="https://plus.google.com/114673546342064306949"><%= image_tag "gicon.jpg", class: "icon" %></a>
                    </div> 
</aside>
