<footer>
                <div id="upfoot">
                    <article class="upart">
                        <header>
                            <h3>About:</h3>
                        </header>
                        <p>© Copyright 2014 Olivia Dow School of Russian Balle. All Rights Reserved by the <a href="cprights.html">Terms of Use</a> and  <a href="cprights.html">Privacy Policy</a> to Olivia Dow School of Russian Balle and the author concerned ©.</p>
                    </article>
                    <article class="upart">
                        <header>
                            <h3>Popular:</h3>
                        </header>
                            <p id="pop"><a href="">Lorem ipsum</a> | 
                               <a href="">consectetur</a> | 
                               <a href="">sed do eiusmod</a> | 
                               <a href="">ut labore</a> | 
                               <a href="">dolor sit amet</a> | 
                               <a href="">adipisicing elit</a> | 
                               <a href="">tempor incididunt</a> | 
                               <a href="">et dolore</a> | 
                               <a href="">magna aliqua</a>
                            </p>
                    </article>
                    <article class="upart1">
                        <header>
                            <h3> Accredited member of:</h3>
                        </header>
                        <nav>
                            <ul type="square">
                                <li>
                                    <img src="_images/rbslogo.jpg" id="icon" width="30" height="30"/> 
                                    <a href="http://www.russianballetsociety.co.uk/" target="_blank">Russian Ballet Society</a>
                                </li>
                                <li>
                                    <img src="_images/cid-logo.jpg" id="icon" width="30" height="30"/> 
                                    <a href="http://www.cid-portal.org/" target="_blank">International Dance Council</a>  
                                </li>
                                <li>
                                    <img src="_images/cdetlogo.jpg" id="icon" width="50" height="30"/> 
                                    <a href="http://www.cdet.org.uk/" target="_blank">Council for Dance Education and Training</a>
                                </li> 
                                <li>
                                    <img src="_images/rocklogo.jpg" id="icon" width="50" height="30"/> 
                                    <a href="http://www.rockschool.co.uk/" target="_blank">Rockschool</a>
                                </li>
                                <li>
                                    <img src="_images/ofquallogo.jpg" id="icon" width="50" height="30"/> 
                                    <a href="http://ofqual.gov.uk/" target="_blank">Ofqual</a>
                                </li>           
                            </ul>
                        </nav>
                    </article>
                </div>
                <div id="lowfoot">
                    <p>Powered by Filomeno Santos - 2014 <br/>
                        <a href="https://www.facebook.com/filomeno.santos" target="_blank">Facebook</a> | 
                        <a href="https://www.linkedin.com/profile/view?id=72703864&trk=nav_responsive_tab_profile" target="_Blank">LinkedIn</a>         
                    </p>
                </div>
            </footer>
        </div>
